################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEN381_API_GROUP3/.vs/SEN381_API_GROUP3/FileContentIndex
